<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title></title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>

	<div class="part-1">
		<p class="bold">Two way data binding</p>
		<label>First name: </label>
		<input type="text" name="fname" ng-model="yourFName">
		<p>Hii {{yourFName}}</p>
	</div>

	<div class="part-2">
		<p class="bold">From the home controller</p>
		<div ng-controller="HomeCtrl as hc">
			{{hc.name}}
		</div>

		<p class="bold">From the profile controller second controller</p>
		<div ng-controller="ProfileCtrl as p">
			{{p.position}}
		</div>
	</div>

	<div class="part-3">
		<p class="bold">Parent child controller</p>
		<div ng-controller="HomeCtrl as hc">
			<div ng-controller="ProfileCtrl as p">
				<p>Home controller is parent and profile controller is child</p>
				{{hc.name}} is a {{p.position}}
				<p>parent can access child but a child can not access parent</p>
			</div>
		</div>
	</div>

	<div class="col-1">
		<p class="bold">Use of in-built directives ng-repeat</p>
		<table ng-controller="UserCtrl as us">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in us.users" ng-click="us.selectedUser = u">
					<td>{{u.name}}</td>
					<td>{{u.email}}</td>
					<td>{{u.phone}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-2">
		<p class="bold">Use of in-built directives ng-click</p>
		<h4>Details</h4>
		<p>Name: {{us.selectedUser.name}}</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>